<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
    
<mapper namespace="cn.muchen.framework.dao.mapper.xtgl.RightMapper">

	<!-- 菜单表列名 -->
	<sql id="SYS_RIGHT_COLUMN">
		RIGHTID, SUBSYSTYPE, RIGHTNAME, RIGHTLEVEL, RIGHTTYPE, URL, ICON, SORTNO, VALIDATED, MEMO, AUTHED, BAE001, BAE002, BAE003, BAE004
	</sql>
	
	<!-- 分页查询前缀 -->
	<sql id="pagePrefix">
		select * from ( select vv.*,rownum rownum_cus
			from (
	</sql>
	
	<!-- 1分页查询后缀 -->
	<sql id="pageSuffix">
		) vv )
			<where>
				<if test="currentPage != null">
					rownum_cus between ((#{currentPage} - 1) * #{pageSize}) + 1 and #{currentPage} * #{pageSize}
				</if>
			</where>
	</sql>
	
	<!-- 根据菜单ID查询菜单信息 -->
	<select id="getRightById" parameterType="string" resultType="map">
		SELECT <include refid="SYS_RIGHT_COLUMN"/> FROM SYS_RIGHT WHERE RIGHTID = #{RIGHTID}
	</select>
	
	<!-- 查询所有菜单信息 -->
	<select id="getAllRight" resultType="map">
		SELECT <include refid="SYS_RIGHT_COLUMN"/> FROM SYS_RIGHT WHERE VALIDATED = '1'
	</select>
	
	<!-- 新增菜单信息 -->
	<insert id="insert" parameterType="map">
		INSERT INTO SYS_RIGHT(<include refid="SYS_RIGHT_COLUMN"/>)
		VALUES (#{RIGHTID}, #{SUBSYSTYPE}, #{RIGHTNAME}, #{RIGHTLEVEL}, #{RIGHTTYPE}, #{URL}, #{ICON}, #{SORTNO}, #{VALIDATED}, #{MEMO},
			    #{AUTHED}, SYSDATE, #{BAE002}, SYSDATE, #{BAE004})
	</insert>
	
	<!-- 更新菜单信息 -->
	<update id="update" parameterType="map">
		UPDATE SYS_RIGHT
		<set>
			<if test="SUBSYSTYPE != null and SUBSYSTYPE != ''">SUBSYSTYPE = #{SUBSYSTYPE},</if>
			<if test="RIGHTNAME != null and RIGHTNAME != ''">RIGHTNAME = #{RIGHTNAME},</if>
			<if test="RIGHTTYPE != null and RIGHTTYPE != ''">RIGHTTYPE = #{RIGHTTYPE},</if>
			<if test="RIGHTLEVEL != null and RIGHTLEVEL != ''">RIGHTLEVEL = #{RIGHTLEVEL},</if>
			<if test="URL != null and URL != ''">URL = #{URL},</if>
			<if test="ICON != null and ICON != ''">ICON = #{ICON},</if>
			<if test="SORTNO != null and SORTNO != ''">SORTNO = #{SORTNO},</if>
			<if test="VALIDATED != null and VALIDATED != ''">VALIDATED = #{VALIDATED},</if>
			<if test="AUTHED != null and AUTHED != ''">AUTHED = #{AUTHED},</if>
			<if test="MEMO != null and MEMO != ''">MEMO = #{MEMO},</if>
			<if test="BAE004 != null and BAE004 != ''">BAE003 = SYSDATE, BAE004 = #{BAE004},</if>
		</set>
		WHERE RIGHTID = #{RIGHTID}
	</update>
	
	<!-- 删除菜单 -->
	<delete id="deleteById" parameterType="string">
		DELETE FROM SYS_RIGHT WHERE RIGHTID = #{RIGHTID}
	</delete>
	
	<!-- 根据loginid查询用户具有的菜单权限 -->
	<select id="getRightsByUserid" parameterType="map" resultType="map">
		SELECT distinct A.RIGHTID, A.SUBSYSTYPE, A.RIGHTNAME, A.RIGHTLEVEL, A.RIGHTTYPE, A.URL, A.ICON, A.SORTNO, A.VALIDATED, A.MEMO,
		       A.AUTHED, A.BAE001, A.BAE002, A.BAE003, A.BAE004
		  FROM SYS_RIGHT A, SYS_ROLE B, SYS_USER2ROLE C, SYS_ROLE2RIGHT D
		 <where>
		 	 A.RIGHTID = D.RIGHTID
		     AND B.ROLEID = D.ROLEID
		     AND B.ROLEID = C.ROLEID
		     AND C.USERID = #{USERID}
	         AND A.VALIDATED = '1'
	         AND B.VALIDATED = '1'
	         AND C.VALIDATED = '1'
	         AND D.VALIDATED = '1'
	         <if test="RIGHTID != null and RIGHTID != ''">AND INSTR(A.RIGHTID, #{RIGHTID}) = 1 AND A.RIGHTID != #{RIGHTID}</if>
	         <if test="RIGHTLEVEL != null and RIGHTLEVEL != ''">AND A.RIGHTLEVEL = #{RIGHTLEVEL}</if>
	         ORDER BY SORTNO ASC
		 </where>
	</select>
	
	<!-- 根据菜单ID获取子菜单 -->
	<select id="getChildren" parameterType="string" resultType="map">
		SELECT <include refid="SYS_RIGHT_COLUMN"/> FROM SYS_RIGHT 
		 WHERE INSTR(RIGHTID, #{RIGHTID}) = 1
		   AND RIGHTID != #{RIGHTID}
		   AND VALIDATED = '1'
	</select>
	
	<!-- query rights -->
	<select id="getRightsByPage" parameterType="map" resultType="map">
		<include refid="pagePrefix"/>
		SELECT <include refid="SYS_RIGHT_COLUMN"/> FROM SYS_RIGHT
		 <where>
		 	<if test="RIGHTID != null and RIGHTID != ''">AND INSTR(RIGHTID, #{RIGHTID}) = 1</if>
		 	<if test="SUBSYSTYPE != null and SUBSYSTYPE != ''">AND SUBSYSTYPE = #{SUBSYSTYPE}</if>
		 	<if test="RIGHTLEVEL != null and RIGHTLEVEL != ''">AND RIGHTLEVEL = #{RIGHTLEVEL}</if>
		 	<if test="VALIDATED != null and VALIDATED != ''">AND VALIDATED = #{VALIDATED}</if>
		 	<if test="RIGHTNAME != null and RIGHTNAME != ''">AND INSTR(RIGHTNAME, #{RIGHTNAME}) > 0</if>
		 </where>
		<include refid="pageSuffix"/>
	</select>
	
	<!-- query counts -->
	<select id="getRightCount" parameterType="map" resultType="integer">
		SELECT COUNT(1) FROM SYS_RIGHT
		 <where>
		 	<if test="RIGHTID != null and RIGHTID != ''">AND INSTR(RIGHTID, #{RIGHTID}) = 1</if>
		 	<if test="SUBSYSTYPE != null and SUBSYSTYPE != ''">AND SUBSYSTYPE = #{SUBSYSTYPE}</if>
		 	<if test="RIGHTLEVEL != null and RIGHTLEVEL != ''">AND RIGHTLEVEL = #{RIGHTLEVEL}</if>
		 	<if test="RIGHTNAME != null and RIGHTNAME != ''">AND INSTR(RIGHTNAME, #{RIGHTNAME}) > 0</if>
		 </where>
	</select>
</mapper>