<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
    
<mapper namespace="cn.muchen.framework.dao.mapper.xtgl.RoleMapper">
	
	<!-- 角色表字段 -->
	<sql id="ROLE_COLUMN">
		ROLEID, ROLENAME, DESCRIPTION, VALIDATED, MEMO, BAE001, BAE002, BAE003, BAE004
	</sql>
	
	<!-- 分页查询前缀 -->
	<sql id="pagePrefix">
		select * from ( select vv.*,rownum rownum_cus
			from (
	</sql>
	
	<!-- 1分页查询后缀 -->
	<sql id="pageSuffix">
		) vv )
			<where>
				<if test="currentPage != null">
					rownum_cus between ((#{currentPage} - 1) * #{pageSize}) + 1 and #{currentPage} * #{pageSize}
				</if>
			</where>
	</sql>
	
	<!-- 新增角色 -->
	<insert id="insert" parameterType="map">
		INSERT INTO SYS_ROLE (<include refid="ROLE_COLUMN"/>)
		VALUES(SEQ_ROLEID.NEXTVAL, #{ROLENAME}, #{DESCRIPTION}, #{VALIDATED}, #{MEMO}, SYSDATE, #{BAE002}, SYSDATE, #{BAE004})
	</insert>
	
	<!-- 删除角色 -->
	<delete id="delete" parameterType="integer">
		DELETE FROM SYS_ROLE WHERE ROLEID = #{ROLEID}
	</delete>
	
	<!-- 更新角色 -->
	<update id="update" parameterType="map">
		UPDATE SYS_ROLE
		<set>
			<if test="ROLENAME != null and ROLENAME != ''">ROLENAME = #{ROLENAME},</if>
			<if test="DESCRIPTION != null and DESCRIPTION != ''">DESCRIPTION = #{DESCRIPTION},</if>
			<if test="VALIDATED != null and VALIDATED != ''">VALIDATED = #{VALIDATED},</if>
			<if test="MEMO != null and MEMO != ''">MEMO = #{MEMO},</if>
			<if test="BAE004 != null and BAE004 != ''">BAE003 = SYSDATE, BAE004 = #{BAE004},</if>
		</set>
		WHERE ROLEID = #{ROLEID}
	</update>
	
	<!-- 根据id查询角色信息 -->
	<select id="getRoleById" parameterType="integer" resultType="map">
		SELECT <include refid="ROLE_COLUMN"/> WHERE ROLEID = #{ROLEID}
	</select>
	
	<!-- 分页查询角色信息 -->
	<select id="getRoleByPage" parameterType="map" resultType="map">
		<include refid="pagePrefix"/>
		SELECT <include refid="ROLE_COLUMN"/> FROM SYS_ROLE
		<where>
		 	<if test="ROLENAME != null and ROLENAME != ''">AND INSTR(ROLENAME, #{ROLENAME}) > 0</if>
		 	<if test="DESCRIPTION != null and DESCRIPTION != ''">AND INSTR(DESCRIPTION, #{DESCRIPTION}) > 0</if>
		 	<if test="VALIDATED != null and VALIDATED != ''">AND VALIDATED = #{VALIDATED}</if>
		 </where>
		<include refid="pageSuffix"/>
	</select>
	
	<!-- 查询角色数量 -->
	<select id="getRoleCount" parameterType="map" resultType="integer">
		SELECT COUNT(1) FROM SYS_ROLE
		<where>
		 	<if test="ROLENAME != null and ROLENAME != ''">AND INSTR(ROLENAME, #{ROLENAME}) > 0</if>
		 	<if test="DESCRIPTION != null and DESCRIPTION != ''">AND INSTR(DESCRIPTION, #{DESCRIPTION}) > 0</if>
		 	<if test="VALIDATED != null and VALIDATED != ''">AND VALIDATED = #{VALIDATED}</if>
		 </where>
	</select>
</mapper>