<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
    
<mapper namespace="cn.muchen.framework.dao.mapper.xtgl.UserMapper">

	<!-- 用户表列名 -->
	<sql id="SYS_USER_COLUMN">
		USERID, USERNAME, LOGINID, PASSWORD, USERTYPE, EMAIL, TELEPHONE, STATE, LOGINFAIL, LOGINTIME,
		PHOTO, MEMO, BAE001, BAE002, BAE003, BAE004
	</sql>
	
	<!-- 分页查询前缀 -->
	<sql id="pagePrefix">
		select * from ( select vv.*,rownum rownum_cus
			from (
	</sql>
	
	<!-- 1分页查询后缀 -->
	<sql id="pageSuffix">
		) vv )
			<where>
				<if test="currentPage != null">
					rownum_cus between ((#{currentPage} - 1) * #{pageSize}) + 1 and #{currentPage} * #{pageSize}
				</if>
			</where>
	</sql>
	
	<!-- 根据登录id查询用户信息 -->
	<select id="getUserByLoginid" parameterType="string" resultType="map">
		SELECT <include refid="SYS_USER_COLUMN"/> FROM SYS_USER WHERE LOGINID = #{LOGINID}
	</select>
	
	<!-- 根据用户id查询用户信息 -->
	<select id="getUserById" parameterType="integer" resultType="map">
		SELECT <include refid="SYS_USER_COLUMN"/> FROM SYS_USER WHERE USERID = #{USERID}
	</select>
	
	<!-- 查询所有用户信息 -->
	<select id="getAllUsers" resultType="map">
		SELECT <include refid="SYS_USER_COLUMN"/> FROM SYS_USER
	</select>
	
	<!-- 新增用户信息 -->
	<insert id="insert" parameterType="map">
		INSERT INTO SYS_USER(<include refid="SYS_USER_COLUMN"/>)
		VALUES (SEQ_USERID.NEXTVAL, #{USERNAME}, #{LOGINID}, #{PASSWORD}, #{USERTYPE}, #{EMAIL}, #{TELEPHONE}, #{STATE}, 0,
				SYSDATE, #{PHOTO}, #{MEMO}, SYSDATE, #{BAE002}, SYSDATE, #{BAE004})
	</insert>
	
	<!-- 更新菜单信息 -->
	<update id="update" parameterType="map">
		UPDATE SYS_USER
		<set>
			<if test="USERNAME != null and USERNAME != ''">USERNAME = #{USERNAME},</if>
			<if test="LOGINID != null and LOGINID != ''">LOGINID = #{LOGINID},</if>
			<if test="PASSWORD != null and PASSWORD != ''">PASSWORD = #{PASSWORD},</if>
			<if test="USERTYPE != null and USERTYPE != ''">USERTYPE = #{USERTYPE},</if>
			<if test="EMAIL != null and EMAIL != ''">EMAIL = #{EMAIL},</if>
			<if test="TELEPHONE != null and TELEPHONE != ''">TELEPHONE = #{TELEPHONE},</if>
			<if test="STATE != null and STATE != ''">STATE = #{STATE},</if>
			<if test="PHOTO != null and PHOTO != ''">PHOTO = #{PHOTO},</if>
			<if test="MEMO != null and MEMO != ''">MEMO = #{MEMO},</if>
			<if test="BAE004 != null and BAE004 != ''">BAE003 = SYSDATE, BAE004 = #{BAE004},</if>
		</set>
		WHERE USERID = #{USERID}
	</update>
	
	<!-- 删除菜单 -->
	<delete id="deleteById" parameterType="string">
		DELETE FROM SYS_USER WHERE USERID = #{USERID}
	</delete>
	
	<!-- 分页查询用户信息 -->
	<select id="getUserByPage" parameterType="map" resultType="map">
		<include refid="pagePrefix"/>
		SELECT <include refid="SYS_USER_COLUMN"/> FROM SYS_USER
		<where>
			<if test="USERNAME != null and USERNAME != ''">AND INSTR(USERNAME, #{USERNAME}) > 0</if>
			<if test="LOGINID != null and LOGINID != ''">AND INSTR(LOGINID, #{LOGINID}) > 0</if>
			<if test="USERTYPE != null and USERTYPE != ''">AND USERTYPE = #{USERTYPE}</if>
			<if test="EMAIL != null and EMAIL != ''">AND INSTR(EMAIL, #{EMAIL}) > 0</if>
			<if test="TELEPHONE != null and TELEPHONE != ''">AND INSTR(TELEPHONE, #{TELEPHONE}) > 0</if>
			<if test="STATE != null and STATE != ''">AND STATE = #{STATE}</if>
		</where>
		<include refid="pageSuffix"/>
	</select>
	
	<!-- 查询用户数量 -->
	<select id="getUserCountByPage" parameterType="map" resultType="integer">
		SELECT COUNT(1) FROM SYS_USER
		<where>
		 	<if test="USERNAME != null and USERNAME != ''">AND INSTR(USERNAME, #{USERNAME}) > 0</if>
			<if test="LOGINID != null and LOGINID != ''">AND INSTR(LOGINID, #{LOGINID}) > 0</if>
			<if test="USERTYPE != null and USERTYPE != ''">AND USERTYPE = #{USERTYPE}</if>
			<if test="EMAIL != null and EMAIL != ''">AND INSTR(EMAIL, #{EMAIL}) > 0</if>
			<if test="TELEPHONE != null and TELEPHONE != ''">AND INSTR(TELEPHONE, #{TELEPHONE}) > 0</if>
			<if test="STATE != null and STATE != ''">AND STATE = #{STATE}</if>
		 </where>
	</select>
</mapper>