<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
    
<mapper namespace="cn.muchen.blog.server.dao.mapper.ArticleTagMapper">
	<!-- 字段 -->
	<sql id="ARTICLE_TAG_COLUMN">
		TAGID, TAGNAME, VALIDATED, MEMO, BAE001, BAE002, BAE003, BAE004
	</sql>
	
	<!-- 分页查询前缀 -->
	<sql id="pagePrefix">
		select * from ( select vv.*,rownum rownum_cus
			from (
	</sql>
	
	<!-- 1分页查询后缀 -->
	<sql id="pageSuffix">
		) vv )
			<where>
				<if test="currentPage != null">
					rownum_cus between ((#{currentPage} - 1) * #{pageSize}) + 1 and #{currentPage} * #{pageSize}
				</if>
			</where>
	</sql>
	
	<!-- insertArticleTag -->
	<insert id="insertArticleTag" parameterType="map">
		INSERT INTO BLOG_ARTICLETAG (<include refid="ARTICLE_TAG_COLUMN"/>)
		VALUES(SEQ_TAGID.NEXTVAL, #{TAGNAME}, #{VALIDATED}, #{MEMO}, SYSDATE, #{USERID}, SYSDATE, #{USERID})
	</insert>
	
	<!-- deleteArticleTag -->
	<delete id="deleteArticleTag" parameterType="integer">
		DELETE FROM BLOG_ARTICLETAG WHERE TAGID = #{TAGID}
	</delete>
	
	<!-- pageQueryArticeTags -->
	<select id="pageQueryArticeTags" parameterType="map" resultType="map">
		<include refid="pagePrefix"/>
			SELECT <include refid="ARTICLE_TAG_COLUMN"/>
			  FROM BLOG_ARTICLETAG
			 <where>
			 	<if test="TITLE != null and TITLE != ''">AND INSTR(TAGNAME, #{TAGNAME}) = 1</if>
			 	<if test="VALIDATED != null and VALIDATED != ''">AND VALIDATED = #{VALIDATED}</if>
			 </where>
		<include refid="pageSuffix"/>
	</select>
	
	<!-- articelTagCount -->
	<select id="articelTagCount" parameterType="map" resultType="integer">
		SELECT COUNT(1) FROM BLOG_ARTICLETAG
		<where>
		 	<if test="TITLE != null and TITLE != ''">AND INSTR(TAGNAME, #{TAGNAME}) = 1</if>
			 	<if test="VALIDATED != null and VALIDATED != ''">AND VALIDATED = #{VALIDATED}</if>
		 </where>
	</select>
	
	<!-- getArticleTag -->
	<select id="getArticleTag" parameterType="map" resultType="map">
		SELECT <include refid="ARTICLE_TAG_COLUMN"/> FROM BLOG_ARTICLETAG WHERE TAGID = #{TAGID}
	</select>
	
	<!-- updateArticleTag -->
	<update id="updateArticleTag" parameterType="map">
		UPDATE BLOG_ARTICLETAG
		 <set>
		 	<if test="TAGNAME != null and TAGNAME != ''">TAGNAME = #{TAGNAME},</if>
		 	<if test="VALIDATED != null and VALIDATED != ''">VALIDATED = #{VALIDATED},</if>
		 	<if test="MEMO != null and MEMO != ''">MEMO = #{MEMO},</if>
		 	<if test="USER != null and USER != ''">BAE003 = SYSDATE, BAE004 = #{USER},</if>
		 </set>
		 WHERE TYPEID = #{TYPEID}
	</update>
</mapper>