<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
    
<mapper namespace="cn.muchen.blog.server.dao.mapper.CriticMapper">
	
	<!-- 评论信息表字段 -->
	<sql id="BLOG_CRITIC_COLUMN">
		CRITICID, USERID, ARTICLEID, CONTENT, CRITICTIME, PARENTID, PRAISECOUNT, TREADCOUNT, CRITICORMESSAGE, VALIDATED, 
		MEMO, BAE001, BAE002, BAE003, BAE004
	</sql>
	
	<!-- 返回数据类型 -->
	<resultMap id="queryCriticMap" type="map">
		<result column="CRITICID" property="CRITICID" jdbcType="INTEGER" />
		<result column="USERID" property="USERID" jdbcType="INTEGER" />
		<result column="ARTICLEID" property="ARTICLEID" jdbcType="INTEGER" />
		<result column="CONTENT" property="CONTENT" typeHandler="cn.muchen.framework.dao.handler.BlobTypeHandler" />
		<result column="CRITICTIME" property="CRITICTIME" jdbcType="DATE" />
		<result column="PARENTID" property="PARENTID" jdbcType="INTEGER" />
		<result column="PRAISECOUNT" property="PRAISECOUNT" jdbcType="INTEGER" />
		<result column="TREADCOUNT" property="TREADCOUNT" jdbcType="INTEGER" />
		<result column="VALIDATED" property="VALIDATED" jdbcType="VARCHAR" />
		<result column="MEMO" property="MEMO" jdbcType="VARCHAR" />
		<result column="BAE001" property="BAE001" jdbcType="DATE" />
		<result column="BAE002" property="BAE002" jdbcType="INTEGER" />
		<result column="BAE003" property="BAE003" jdbcType="DATE" />
		<result column="BAE004" property="BAE004" jdbcType="INTEGER" />
	</resultMap>
	
	<!-- 新增评论 -->
	<insert id="insertCritic">
		INSERT INTO BLOG_CRITIC(<include refid="BLOG_CRITIC_COLUMN"/>)
		VALUES(SEQ_CRITICID.NEXTVAL, #{USERID}, #{ARTICLEID}, #{CONTENT, typeHandler=cn.muchen.framework.dao.handler.BlobTypeHandler},
			   SYSDATE, #{PARENTID}, 0, 0, #{CRITICORMESSAGE}, '1', '', SYSDATE, #{BAE002}, SYSDATE, #{BAE002})
	</insert>
	
	<!-- 删除评论 -->
	<delete id="deleteCritic" parameterType="map">
		DELETE FROM BLOG_CRITIC WHERE CRITICID = #{CRITICID}
	</delete>
	
	<!-- 查询评论 -->
	<select id="getCritics" parameterType="map" resultMap="queryCriticMap">
		SELECT <include refid="BLOG_CRITIC_COLUMN"/>, (SELECT USERNAME FROM SYS_USER A WHERE A.USERID = B.USERID) USERNAME,
		       (SELECT USERNAME FROM SYS_USER C WHERE C.USERID = B.BAE002) BAE002NAME,
		       (SELECT PHOTO FROM SYS_USER D WHERE D.USERID = B.BAE002) PHOTO
		  FROM BLOG_CRITIC B
		<where>
			<if test="ARTICLEID != null and ARTICLEID != ''">AND ARTICLEID = #{ARTICLEID}</if>
			<if test="PARENTID != null and PARENTID != ''">AND PARENTID = #{PARENTID}</if>
			<if test="USERID != null and USERID != ''">AND USERID = #{USERID}</if>
			<if test="CRITICID != null and CRITICID != ''">AND CRITICID = #{CRITICID}</if>
			<if test="CRITICORMESSAGE != null and CRITICORMESSAGE != ''">AND CRITICORMESSAGE = #{CRITICORMESSAGE}</if>
			<if test="VALIDATED != null and VALIDATED != ''">AND VALIDATED = #{VALIDATED}</if>
		</where>
		<if test='PARENTID == "0"'>ORDER BY BAE001 DESC</if>
		<if test='PARENTID != "0"'>ORDER BY BAE001 ASC</if>
	</select>
	
	<!-- 更新评论信息 -->
	<update id="updateCritic" parameterType="map">
		UPDATE BLOG_CRITIC
		 <set>
			<if test="PRAISECOUNT != null and PRAISECOUNT != ''">PRAISECOUNT = PRAISECOUNT + 1,</if>
			<if test="TREADCOUNT != null and TREADCOUNT != ''">TREADCOUNT = TREADCOUNT + 1,</if>
		 </set>
		 WHERE CRITICID = #{CRITICID}
	</update>
</mapper>