<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/css/blog/index.css" media="all">
<link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
<script src="/lib/layui/layui.js"></script>
<script type="text/javascript" src="/js/fw.js"></script>
</head>
<body>
	<ul class="layui-timeline main-content time-line" style="padding-left: 30px;"></ul>
</body>
<script type="text/javascript" src="/js/blog/client/timeline.js"></script>
<script type="text/javascript">
var layer, $, element;
layui.use([ 'layer', 'jquery', 'element'], function(){
	layer = layui.layer;
	$ = layui.jquery;
	element = layui.element;
	
	// 初始化界面
	$(function() {
		oTimelineInit.fnPageInit();
	})
});
</script>
</html>