<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
    
<mapper namespace="cn.muchen.blog.client.dao.mapper.PraiseOrTradeMapper">
	<!-- 新增 -->
	<insert id="insert" parameterType="map">
		INSERT INTO BLOG_PRAISEORTREAD(ID, PRAORTRE, ARTORCRI, ARID, USERID, VALIDATED, BAE001, BAE002, BAE003, BAE004)
		VALUES (SEQ_PRAISEORTREADID.NEXTVAL, #{PRAORTRE}, #{ARTORCRI}, #{ARID}, #{USERID}, '1', SYSDATE, #{USERID}, SYSDATE, #{USERID})
	</insert>
	
	<!-- 获取数量 -->
	<select id="getCount" parameterType="map" resultType="integer">
		SELECT COUNT(1) CNT
		  FROM BLOG_PRAISEORTREAD
		<where>
			<if test="PRAORTRE != null and PRAORTRE != ''">AND PRAORTRE = #{PRAORTRE}</if>
			<if test="ARTORCRI != null and ARTORCRI != ''">AND ARTORCRI = #{ARTORCRI}</if>
			<if test="ARID != null and ARID != ''">AND ARID = #{ARID}</if>
			<if test="USERID != null and USERID != ''">AND USERID = #{USERID}</if>
			<if test="VALIDATED != null and VALIDATED != ''">AND VALIDATED = #{VALIDATED}</if>
		</where>
	</select>
</mapper>