body {
    color: #333;
}

.article {
	width: 96%;
    margin-left: 2%;
}

.article_tilte {
    font-size: 22px;
    padding-top: 20px;
}

.article_text {
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.article_info {
    overflow: hidden;
    color: #999;
    padding-top: 20px;
    padding-bottom: 20px;
}

.article_abstract {
    color: #888888;
    border: 1px solid #F3F3F3;
    padding: 10px 10px;
    line-height: 23px;
    background: none repeat 0 0 #F6F6F6;
}

.article_abstract span {
	font-weight: bold;
	color: #000;
}

.share {
    padding: 10px;
    background: #f7f7f7;
    line-height: 23px;
    font-size: 14px;
    border-left: 3px solid #000;
}

.share a {
	color: #09C;
    word-break: break-all;
    text-decoration: none;
}

.share a:hover {
	color: #09C;
    word-break: break-all;
    text-decoration: underline;
}

.nextinfo {
	width: 100%;
	height: 100%;
	padding-bottom: 20px;
}

.nextinfo p {
	margin-top: 10px;
}

.critic {
	width: 96%;
	margin-left: 2%;
}

.critic-list {
	width: 100%;
	height: 100%;
	display: flex;
	padding-bottom: 20px;
}

.critic-list .lastest {
	width: 60px;
	padding: 5px 10px;
	border-left: 1px solid #e74851;
	border-top: 1px solid #e74851;
	border-right: 1px solid #e74851;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #e74851;
}

.critic-list .rightcount {
	border-bottom: 1px solid #e74851;
	width: 90%;
	padding: 5px 10px;
	text-align: right;
	color: #e74851;
}

#criticList {
	width: 100%;
    padding-bottom: 20px;
}

#criticList li {
	width: 100%;
    padding-bottom: 10px;
	border-bottom: 1px dashed #d2d2d2;
}

#criticList .critic-area {
	display: flex;
	flex-direction: row;
	align-items:center;
}

#criticList .avater {
	width: 42px;
    height: 42px;
    border-radius: 42px;
}

#criticList .criticInfo {
	display:flex;
	justify-content: space-between;
	flex-basis: 95%;
	padding: 5px 20px;
}

#criticList .criticContent {
	flex-basis: 95%;
	padding: 5px 20px;
}

#criticList .criticTime {
    padding: 5px 0 0;
    font-family: Arial;
    color: silver;
}

#criticList .criticAction {
	display:flex;
	justify-content: flex-end;
	flex-basis: 100%;
	padding: 5px 20px;
}

.criticAction a {
	color: #e74851;
}

.subcritic {
	padding-left: 40px;
}

.subcritic li {
	width: 100%;
	padding-top: 10px;
    padding-bottom: 10px; 
	border-top: 1px dashed #d2d2d2;
	border-bottom: 1px dashed #fff !important;
}

.empty-critic {
	margin-top: 20px;
    height: 30px;
    background: #f0f0f0;
    text-align: center;
    opacity: .5;
}

.empty-critic span {
	line-height: 30px;
    font-size: 12px;
    color: #999;
    text-align: center;
}

.criticInfo a {
    color: #e74851;
}