body {
    color: #333;
}

.head {
	left: 70px;
	margin-right: 120px;
}

.margin-left {
	margin-left: 15px;
}

.margin-top {
	margin-top: 20px;
}

.head a {
	color: #ffffff;
	font-size: 18px;
}

.head a:hover {
	color: #ffffff;
	font-size: 18px;
}

.layui-nav .layui-nav-head {
	position: relative;
	display: inline;
	zoom: 1;
	vertical-align: middle;
	line-height: 50px;
}

.layui-input-head {
	text-indent: 10px;
	height: 30px;
	line-height: 1.3;
	line-height: 38px\9;
	display: inline;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
	border-radius: 2px
}

.search {
	padding: 7px;
	display: inline;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
	color: #000;
	border-radius: 2px
}

.content-body {
	position: absolute;
	top: 60px;
	right: 5px;
	bottom: 0px;
	left: 10px;
	overflow: hidden;
}

article {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.left {
	margin-left: 50px;
	width: 71%;
	float: left;
}

.left .head {
	width: 100%;
	height: 250px;
	display: flex;
}

.slide_div {
	width: 69%;
	height: 100%;
	overflow: hidden;
	float: left;
	margin-bottom: 20px;
}

.slide {
	overflow: hidden;
	transform-style: preserve-3d;
	border-radius: 3px;
	width: 100%;
	height: 250px;
}

.slide img {
	width: 100%;
	height: 100%;
}

.left .headline {
	float: right;
	width: 30%;
	height: 100%;
}

.headline ul li {
	margin-left: 10px;
	width: 100%;
	background: #000;
	overflow: hidden;
	height: 120px;
	margin-bottom: 10px;
	border-radius: 3px;
	position: relative;
}

.headline ul li img {
	width: 100%;
	height: 100%;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	transition: all 0.5s;
	opacity: .7;
}

.headline ul li span {
	bottom: 0;
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	color: #FFF;
	text-align: center;
	font-size: 15px;
	margin-top: 5px;
	padding: 0 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-height: 24px;
	height: 48px;
}

.right {
	width: 25%;
	float: right;
	overflow: hidden;
}

.card {
	box-shadow: 0px 1px 0px rgba(255, 255, 255, .1), inset 0px 1px 1px
		rgba(0, 0, 0, .7);
	border-radius: 3px;
	background: top right rgba(42, 42, 42, 1);
	height: 250px;
	width: 80%;
	overflow: hidden;
	margin-bottom: 10px;
}

.card h2 {
	font-size: 22px;
	margin: 10px;
	color: #89919a;
	font-weight: normal;
	padding-bottom: 10px;
}

.card p {
	font-size: 12px;
	padding: 0 0 0 20px;
	line-height: 28px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
	color: #d0d2d4;
	-webkit-animation: animations2 5s ease-in-out 5s;
	-moz-animation: animations2 5s ease-in-out 5s;
	-o-animation: animations2 5s ease-in-out 5s;
	-ms-animation: animations2 5s ease-in-out 5s;
	animation: animations2 5s ease-in-out 5s;
}

.linkmore {
	margin: 15px;
	display: flex;
	justify-content: center;
	align-content: space-around;
}

.linkmore li {
	margin-left: 10px;
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

a.iconfont.icon-zhuye {
	color: #ef5509;
	font-size: 36px;
}

a.iconfont.icon-youxiang {
	color: #FF991A;
	font-size: 28px;
}

a.iconfont.icon-qq {
	color: #1296DB;
	font-size: 28px;
}

a.iconfont.icon-weixin {
	color: #07AF12;
	font-size: 28px;
}

.main_content {
	margin-top: 10px;
	width: 100%;
	height: 80%;
	float: left;
	background-color: #fff;
	border-radius: 3px;
}

.title {
	width: 96%;
	margin-left: 2%;
	height: 40px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #d2d2d2;
	margin-bottom: 10px;
}

.layui-breadcrumb .layui-this span{
	color: #000 !important;
	padding: 10px;
	border-bottom: 2px solid #000;
}

.blog-list {
	width: 96%;
	margin-left: 2%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 16px;
}

.blog-list ul {
	width: 100%;
    padding: 10px 0 0;
}

.blog-list li {
	width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    min-height: 120px;
    border-bottom: 1px dashed #d2d2d2;
}

.blogtitle {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
}

.blogtitle a:hover {
	color: #337ab7;
}

.blogpic {
    float: left;
    width: 23.2%;
    height: 100px;
    margin-right: 20px;
    display: block;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
}

.blogabstract {
    font-size: 14px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    margin-top: 20px;
}

.bloginfo {
	position: absolute;
	left: 225px;
    bottom: 10px;
    overflow: hidden;
    color: #999;
    line-height: 34px;
}

.viewmore {
	position: absolute;
	right: 10px;
    bottom: 10px;
    overflow: hidden;
    color: #999;
    line-height: 34px;
}

.rank {
	border-radius: 3px;
	background-color: #fff;
	width: 80%;
	height: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}

.rank ul li {
	width: 96%;
	margin-left: 2%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tag {
	border-radius: 3px;
	background-color: #fff;
	width: 80%;
	height: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}

.tag ul li {
	width: 96%;
	margin-left: 2%;
    height: 50px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: space-between;
}

.whitebg {
	background-color: #fff;
}

.border-radius {
	border-radius: 3px;
}

.box-underline {
	padding: 10px; 
	border-bottom: 2px solid #000; 
	font-size: 16px;
	cursor: pointer;
}

.time-line {
	background-color: #fff;
	border-radius: 3px;
	margin-top: 10px;
	width: 90%; 
	margin-left: 5%; 
	padding: 20px;
}

body.login {
	border-radius: 10px;
}

.photo {
	width: 40px;
	height: 40px;
	border-radius: 40px
}