<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="/lib/layui/formSelects/formSelects.css"/>
	<script src="/lib/layui/formSelects/jquery.min.js"></script>
	<script src="/lib/layui/formSelects/formSelects.min.js"></script>
    <script src="/lib/layui/layui.js"></script>
	<script type="text/javascript" src="/js/fw.js"></script>
</head>
<body>
	<!-- 查询条件 -->
	<form class="layui-form" id="queryForm">
	  	<div class="layui-form-item">
	  		<div class="layui-inline">
			    <label class="layui-form-label">分类名称</label>
			    <div class="layui-input-block">
			      	<input type="text" name="TYPENAME" placeholder="文章分类名称" autocomplete="off" class="layui-input">
			    </div>
			</div>
		  	<div class="layui-inline">
			    <label class="layui-form-label">有效标志</label>
			    <div class="layui-input-block">
			    	<select name="VALIDATED" dictType="VALIDATED" isSelect="true"></select>
			    </div>
			</div>	    
	  	</div>
	  	<p align="center">
	  		<button class="layui-btn" onclick="oArticleTypeBtn.doQuery(); return false;">&emsp;<i class="layui-icon">&#xe669;</i> 查&nbsp;询&emsp;</button>
	  		<button class="layui-btn" type="reset">&emsp;<i class="layui-icon">&#x1006;</i> 清&nbsp;除&emsp;</button>
	  		<button class="layui-btn" onclick="oArticleTypeBtn.doAdd(); return false;">&emsp;<i class="layui-icon">&#xe608;</i> 新&nbsp;增&emsp;</button>
	  	</p>
	</form>
	
	<!-- 查询结果 -->
	<div style="width: 99%">
		<table class="layui-table" id="typeList" lay-filter="typeTable"></table>
	</div>
	
	<!-- right操作 -->
	<script type="text/html" id="typeBar">
		<button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="update">
			<i class="layui-icon">&#xe642;</i> 修改
		</button>
  		<button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">
			<i class="layui-icon">&#xe640;</i> 删除
		</button>
	</script>
	
	<!-- saveOrUpdate -->
	<div id="saveOrUpdate" style="display: none;">
		<div style="padding: 20px;">
			<form class="layui-form" id="saveForm">
				<input type="hidden" name="TYPEID">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">分类名称</label>
					    <div class="layui-input-block">
					      	<input type="text" name="TYPENAME" placeholder="分类名称" autocomplete="off" 
					      		class="layui-input" lay-verify="required|maxlength10">
					    </div>
					</div>    
				    <div class="layui-inline">
						<label class="layui-form-label">有效标志</label>
					    <div class="layui-input-block">
					      	<select name="VALIDATED" dictType="VALIDATED" isSelect="true" lay-verify="required"></select>
					    </div>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">备注</label>
				    <div class="layui-input-block">
				    	<textarea name="MEMO" placeholder="备注" class="layui-textarea" lay-verify="maxlength1000"></textarea>
				    </div>
				</div>
				<p align="center">
			  		<button class="layui-btn" onclick="oArticleTypeBtn.doSave(); return false;">
			  			&emsp;<i class="layui-icon">&#xe605;</i> 保&nbsp;存&emsp;
			  		</button>
			  		<button class="layui-btn" type="reset">&emsp;<i class="layui-icon">&#x1006;</i> 清&nbsp;除&emsp;</button>
			  	</p>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/blog/server/articleType.js"></script>
<script type="text/javascript">
var element, $, layer, table, form;

layui.use([ 'element', 'layer', 'jquery', 'table', 'form'], function() {
	element = layui.element;
	$ = layui.jquery;
	layer = layui.layer;
	table = layui.table;
	form = layui.form;

	$(function(){
		oArticleTypeInit.fnPageInit();
	})
});
</script>
</html>