<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>慕辰的个人博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/blog/index.css" media="all" >
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
    <script src="/lib/layui/layui.js"></script>
	<script type="text/javascript" src="/js/fw.js"></script>
</head>
<body style="background-color: #ecf0f5;">
	<input type="hidden" name="pageId" th:value="${pageId}">
	<!-- top导航栏 -->
	<ul class="layui-nav" lay-filter="">
		<li class="layui-nav-head head"><a href="">慕辰的个人博客</a></li>
		<li class="layui-nav-item" id="home"><a href="javascript: oButtonInit.redirect('home')">
			<i class="layui-icon">&#xe68e;</i> 首页</a>
		</li>
		<li class="layui-nav-item" id="time"><a href="javascript: oButtonInit.redirect('time')">
			<i class="layui-icon">&#xe60e;</i> 时间轴</a>
		</li>
		<li class="layui-nav-item" id="about"><a href="javascript: oButtonInit.redirect('about')">
			<i class="layui-icon">&#xe60b;</i> 关于</a>
		</li>
<!-- 		<li class="layui-nav-item" id="life">
			<a href="javascript:;"><i class="layui-icon">&#xe756;</i> 生活</a>
			<dl class="layui-nav-child"> 二级菜单
		      	<dd><a href="javascript: oButtonInit.redirect('music')"><i class="layui-icon">&#xe6fc;</i> 音乐</a></dd>
		      	<dd><a href="javascript: oButtonInit.redirect('album')"><i class="layui-icon">&#xe64a;</i> 相册</a></dd>
		      	<dd><a href="javascript: oButtonInit.redirect('read')"><i class="layui-icon">&#xe705;</i> 阅读</a></dd>
		    </dl>
		</li> -->
		<li class="layui-nav-head" style="left: 20%;">
			<input class="layui-input-head" name="search" placeholder="请输入关键字" onKeyUp="oPageInit.fnSearchKeyPress()"/>
			<a href="javascript: oButtonInit.search()" class="search"><i class="layui-icon layui-icon-search"></i></a>
		</li>
		
		<li class="layui-nav-item" style="float: right; margin-right: 20px;">
			<a href="javascript: oButtonInit.loginOrRegister('home')" th:if="${session.user == null}">登录</a>
			<a href="javascript: void(0)" th:if="${session.user != null}">
				<img th:attr="alt=${session.user.USERNAME}" class="photo" th:src="${session.user.PHOTO}">&emsp;
				<span th:text="${session.user.USERNAME}"></span>
			</a>
		</li>
	</ul>
	
	<!-- main页面 -->
	<div class="content-body">
		<iframe name="contentBody" id="contentBody"  th:src="${url}" frameborder="0" scrolling="yes" width="100%" height="100%"></iframe>
	</div>
	
	<ul class="layui-fixbar">
		<li class="layui-icon" lay-type="bar1" style="background-color:#009688" onclick="oButtonInit.redirect('/blog/about')">&#xe63a;</li>
		<li class="layui-icon layui-fixbar-top" lay-type="top" onclick="oButtonInit.goTop()"
			style="background-color: rgb(0, 150, 136); display: list-item;">&#xe604;</li>
	</ul>
</body>
<!--js逻辑-->
<script type="text/javascript" src="/js/blog/client/index.js"></script>
<script type="text/javascript">
var element, layer, $, util;
layui.use(['element', 'layer', 'jquery', 'util'], function () {
	element = layui.element;
	layer = layui.layer;
	$ = layui.jquery;
	util = layui.util;
	
	$(function() {
		oPageInit.fnPageInit();
	})
});
</script>
</html>