<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/css/blog/register.css" media="all" />
<link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
<script src="/lib/layui/layui.js"></script>
<script type="text/javascript" src="/js/fw.js"></script>
</head>
<body class="loginBody">
	<input type="hidden" th:value="${url}" id="url">
	<form class="layui-form" id="login">
		<div class="login_face"><img src="/images/face.jpg"></div>
		<div class="layui-form-item">
			<input type="text" placeholder="请输入用户名" autocomplete="off" name="username" class="layui-input" lay-verify="required">
		</div>
		<div class="layui-form-item">
			<input type="password" placeholder="请输入密码" autocomplete="off" name="password" class="layui-input" lay-verify="required">
		</div>
		<div class="layui-form-item imgCode">
			<input type="text" placeholder="请输入验证码" autocomplete="off" name="validateCode" class="layui-input" style="width: 300px;">
			<a title="单击刷新" href="javascript:void(0)" onclick="oRegisterBtn.refresh()">
				<img src="/common/valicode" name="validateCode" style="height:36px">
			</a>
		</div>
		<div class="layui-form-item">
			<button class="layui-btn layui-block" onclick="oRegisterBtn.login(); return false;">登录</button>
		</div>
		<p align="center">没有用户？<a href="javascript: oRegisterBtn.changeTab('register')">注册</a></p>
		<ul class="login-group">
			<li class="login-item">
				<span data-platform-id="3" class="login-logo" title="QQ登录" onclick="oRegisterBtn.loginQQ()">
					<i class="layui-icon" style="font-size: 40px; color: #1E9FFF;">&#xe676;</i>
				</span>
			</li>
			<li class="login-item">
				<span data-platform-id="3" class="login-logo" title="微信登录">
					<i class="layui-icon" style="font-size: 40px; color: #62b900;">&#xe677;</i>
				</span>
			</li>
			<li class="login-item">
				<span data-platform-id="3" class="login-logo" title="微博登录" onclick="oRegisterBtn.weiboLogin()">
					<i class="layui-icon" style="font-size: 40px; color: #EE2C2C;">&#xe675;</i>
				</span>
			</li>
		</ul>
	</form>
	
	<form class="layui-form" style="display: none;" id="register">
		<div class="login_face"><img src="/images/face.jpg"></div>
		<div class="layui-form-item">
			<input type="text" placeholder="请输入邮箱作为唯一登录标志" autocomplete="off" name="email" 
				class="layui-input" lay-verify="required|email" onBlur="oRegisterBtn.checkEmail(this)">
		</div>
		<div class="layui-form-item">
			<input type="text" placeholder="请输入用昵称" autocomplete="off" name="username" class="layui-input" lay-verify="required">
		</div>
		<div class="layui-form-item">
			<input type="password" placeholder="请输入密码" autocomplete="off" name="password" class="layui-input" lay-verify="required">
		</div>
		<div class="layui-form-item">
			<input type="password" placeholder="确认密码" autocomplete="off" name="compassword" class="layui-input" lay-verify="required">
		</div>
		<div class="layui-form-item upload">
 			<input type="text" placeholder="上传头像" autocomplete="off" name="photo"
				class="layui-input" disabled="disabled" lay-verify="required" style="width: 300px;">
			<button id="uploadPhoto" class="layui-btn" onclick="javascript: void(0); return false;">
				&emsp;<i class="layui-icon">&#xe681;</i> 上&nbsp;传&emsp;
			</button>
		</div>
		<div class="layui-form-item imgCode">
			<input type="text" placeholder="请输入验证码" autocomplete="off" name="validateCode" class="layui-input" 
				lay-verify="required" style="width: 300px;">
			<a title="单击刷新" href="javascript:void(0)" onclick="oRegisterBtn.refresh()">
				<img src="/common/valicode" name="validateCode" style="height:36px">
			</a>
		</div>
		<div class="layui-form-item">
			<button class="layui-btn layui-block" onclick="oRegisterBtn.register(); return false;">注册</button>
		</div>
		<p align="center">已有用户？<a href="javascript: oRegisterBtn.changeTab('login')">登录</a></p>
	</form>
</body>
<script type="text/javascript" src="/js/blog/client/register.js"></script>
<script>
	var elemet, layer, $, upload;
	layui.use([ 'element', 'layer', 'jquery', 'upload' ], function() {
		elemet = layui.element;
		layer = layui.layer;
		$ = layui.jquery;
		upload = layui.upload;

		$(function() {
			oRegisterInit.pageInit();
		})
	});
</script>
</html>