<!DOCTYPE html>
<html class="loginHtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>登录</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="/css/framework/login.css" media="all" />
	<link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
    <script src="/lib/layui/layui.js"></script>
	<script type="text/javascript" src="/js/fw.js"></script>
</head>
<body class="loginBody">
	<form class="layui-form">
		<div class="login_face"><img src="/images/face.jpg"></div>
		<div class="layui-form-item">
			<input type="text" placeholder="请输入用户名" autocomplete="off" id="username" class="layui-input" lay-verify="required">
		</div>
		<div class="layui-form-item">
			<input type="password" placeholder="请输入密码" autocomplete="off" id="password" class="layui-input" lay-verify="required">
		</div>
		<div class="layui-form-item" id="imgCode">
			<input type="text" placeholder="请输入验证码" autocomplete="off" id="code" class="layui-input">
			<a title="单击刷新" href="javascript:void(0)" onclick="refresh()">
				<img src="/common/valicode" id="validateCode" style="height:36px">
			</a>
		</div>
		<div class="layui-form-item">
			<button class="layui-btn layui-block" onclick="login(); return false;">登录</button>
		</div>
	</form>
</body>
<script type="text/javascript" src="/js/framework/login.js"></script>
<script>
var elemet, layer, $;
layui.use(['element', 'layer', 'jquery'], function () {
	elemet = layui.element;
	layer = layui.layer;
	$ = layui.jquery;
});
</script>
</html>